@font-face {
	font-family: Redemption;
	src: url(../html/font/Redemption.ttf) format('truetype')
}

.layout {display: none;}

html {
	-webkit-text-size-adjust:none;
	-webkit-touch-callout:none;
	display:none;
}

body {
	margin:0;
}

img {
	user-select: none;
	border:0;
	vertical-align:middle;
	/* border: 2px solid black; */
}
body {
	padding:20px 0;
	border: none;
	margin: 0px;
	overflow: hidden;
}
.hide {
	display: none;
}

.box {
	width: auto;
	height: auto;
	top: 30%;
	left: 25%;
	margin-right: -50%;
}

.box img {
	max-width:800px;
	max-height: 432px;
}

.box {
	position:absolute;
	overflow:hidden;
	margin:0 auto;
}

.mask {
	position: absolute;
	top:50%;
	left:17%;
	cursor: pointer;
}
