
@keyframes flickerAnimation {

  /* flame pulses */
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}


* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'chineserocksrg';
    src:url('chineser-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin:15px;
    padding: 0;
    font-family: 'chineserocksrg';
    overflow: hidden;
}

@font-face {
  font-family: 'chinese_rocksregular';
  src: url('chineser-webfont.woff2') format('woff2'),
    url('chineser-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

button {
  cursor: pointer;
  border: none;
}

select {
  border: none;
}

.info {
  position: absolute;
  left: 50%;
  top: 30px;
  text-align: center;
  transform: translateX(-50%);
  font-size: 20pt;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 2px black;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  -background-color: rgb(36, 36, 36);
  -background-image: url("https://cdn.discordapp.com/attachments/549952050251825162/715070183336706098/TEXTURE_B.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.off {
  visibility: hidden !important;
  opacity: 0 !important;
  position: absolute !important;
}



.w_button {
  height: 50px;
  min-width: 50px;
  background-color: #f2f2f2;
  margin: 5px;
  border-radius: 3px;
}

.w_button:hover {
  background-color: rgb(233, 233, 233);
}

.w_dropdown {
  margin: 5px;
  min-width: 200px;
  background-color: #f2f2f2;
  border-radius: 3px;
}

.w_page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.w_texteditor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
  height: 80%;
  overflow: auto;
}

#suneditor_editor_classic {
  height: 100%;
}

.w_book {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.w_bookpage {
  -padding: 30px;
  background-size: cover;
  -background-color: white;
  background-image: url("https://cdn.discordapp.com/attachments/549952050251825162/715070183336706098/TEXTURE_B.jpg");
  -height: 100%;
  background-position: center;
}

.w_settings {
  position: absolute;
  top: calc(100vh * 0.4);
  left: 50%;
  width: 100%;
  z-index: 100;
  background-color: white;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 5px 5px 15px #0003;
  display: grid;
  border-radius: 15px;
  padding: 30px;
  padding-top: 50px;
  grid-gap: 5px;
  max-width: 450px;
}

.w_close {
  position: absolute;
  border-radius: 50%;
  background-color: red;
  box-shadow: inset -2px -2px 5px #6d1e1e;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
}

.w_close:hover {
  background-color: rgb(218, 0, 0);
}

.w_pagebutton {

  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.5;
  border-radius: 50%;
  border: 3px solid black;
  background-color: white;
  transition: all 0.5s;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.w_pagebutton:hover {
  background-color: rgb(211, 211, 211);
  opacity: 1;
}

.w_addbutton {
  top: 50px;
  left: calc(50% + 50px);
  -background-image: url("add.png")
}

.w_editbutton {
  top: 50px;
  left: calc(50% - 100px);
  -background-image: url("edit.png")
}

.w_deletebutton {
  top: 50px;
  left: calc(50% + 150px);
  -background-image: url("delete.png")
}

.w_nextbutton {
  top: 50px;
  left: calc(50% + 100px);
  background-image: url("next.png")
}

.w_prevbutton {
  top: 50px;
  left: calc(50% - 0px);
  -background-image: url("prev.png")
}


.w_headerbutton {
  background-color: white;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 5px;
  display: block;
  opacity: 0.5;
  float: left;
}

.w_settingsbutton {
  -background-image: url("settings.png");
}

.w_savebutton {
  -background-image: url("save.png");
}

.w_pagecontent {
  padding: 30px 60px;
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
}

.w_stopeditbutton {
  float: right;
  position: absolute;
  border-radius: 50%;
  background-color: red;
  box-shadow: inset -2px -2px 5px #6d1e1e;
  top: 7.5px;
  right: 10px;
  width: 25px;
  height: 25px;
  opacity: 1;
}

.w_stopeditbutton:hover {

  background-color: rgb(218, 0, 0);
}

.w_editorcontainer {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding-top: 50px;
}

.se-dialog.sun-editor-common {
  position: absolute !important;
}

.w_head {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.w_inputcontainer {
  display: flex;
}

.w_name {
  margin: 10px;
  width: 50%;
  color: black;
}



.w_input {
  border-radius: 5px;
  border: 1px #b3b3b3 solid;
  padding: 10px;
  background-color: #fbfbfb;
  margin: 10px;
  width: 100%;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.w_flip {
  position: absolute;
  bottom: 0px;
  right: -80px;
  width: 64px;
  height: 64px;
  background-size: cover;
  opacity: 0.5;
  animation: flickerAnimation 3s infinite;
}

.w_exportbutton {
  position: absolute;
  top: 60px;
  right: 10px;
  -background-image: url("export.png");
  width: 64px;
  height: 64px;
  background-size: cover;
  background-color: transparent !important;

}

.w_inportbutton {

  position: absolute;
  top: 60px;
  right: 90px;
  background-color: black;
  background-image: url("inport.png");
  width: 100px;
  height: 100px;
  background-size: cover;
  background-color: transparent !important;
}

.background {
    width: 680px;
    height: 900px;
    position: absolute;
    transform: translateX(-50px);
}

.ad {
    width: 650px;
    height: 900px;
    transform: translateY(-30px) translateX(-35px);
}

.HomeBanner__imgWrap__ytSx9 {
    transform: translateX(-25px) translateY(150px);
}

.img {
    transform: translateX(31px) translateY(-50px);
    width: 610px;
    border-color: #2e2e2e;
    border-image-repeat: round;
    border-image-slice: 12;
    border-image-source: url('https://s.rsg.sc/sc/images/rdr2catalogue/products/frame.png');
    border-style: solid;
    border-width: 12px;
}


.Button__text__2C2ug {
    text-align: center;
    font-size: 1.25em;
    color: #2e2e2e;
    text-transform: uppercase;
    margin-bottom: -.25em;
    margin-top: -.25em;
    padding-bottom: .25em;
    padding-top: .25em;
    display: inline;
    position: relative;
    top: 1px;
}

.Button__text__index{
    text-align: center;
    font-size: 2.25em;
    color: #2e2e2e;
    text-transform: uppercase;
    margin-bottom: -.25em;
    margin-top: -.25em;
    padding-bottom: .25em;
    padding-top: .25em;
    display: inline;
    position: relative;
    top: 1px;
}

.index_header {
     transform: translateX(-17px) translateY(-30px);
    background: url("https://s.rsg.sc/sc/images/rdr2catalogue/backgrounds/bgTextDark.png");
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    border-color: #2e2e2e;
    border-image-repeat: round;
    border-image-slice: 12;
    border-image-source: url('https://s.rsg.sc/sc/images/rdr2catalogue/products/frame.png');
    border-style: solid;
    border-width: 12px;
    padding: 5px 5px 7px 10px;
    font-size: 2.5em;
    width: 610px;
    text-align: center;
}

.varmint_img {
    transform: translateX(31px) translateY(-50px);
    width: 610px;
    height: 355px;
    border-color: #2e2e2e;
    border-image-repeat: round;
    border-image-slice: 12;
    border-image-source: url('https://s.rsg.sc/sc/images/rdr2catalogue/products/frame.png');
    border-style: solid;
    border-width: 12px;
}

h1{
    transform: translateX(31px) translateY(-30px);
    background: url("https://s.rsg.sc/sc/images/rdr2catalogue/backgrounds/bgTextDark.png");
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    border-color: #2e2e2e;
    border-image-repeat: round;
    border-image-slice: 12;
    border-image-source: url('https://s.rsg.sc/sc/images/rdr2catalogue/products/frame.png');
    border-style: solid;
    border-width: 12px;
    padding: 5px 5px 7px 10px;
    font-size: 2.5em;
    width: 610px;
    text-align: center;
}

.statsimg {
    transform: translateX(16px);
}
.ProductStats__base__3P7bK {
    position: absolute;
    fill:url(#fillTexture);
    opacity: .3;
}
.ProductStats__fill__3c0ZP {
    position: absolute;
    fill:url(#fillTexture)
}

rect {
    background-color: black;
}

.ProductStats__table__2aFjk:after, .ProductStats__table__2aFjk:before {
    content: "";
    display: table;
}

.ProductStats__table__2aFjk {
    margin: 0 0 20px;
}

.ProductStats__row__UwQnZ {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2px 0;
}

.ProductStats__cell__1h1Mi svg {
    height: 24px;
    transform: translateY(-23px) translateX(333px);
    width: 300px;
}

.ProductStats__cell__1h1Mi {
    text-indent: 20px;
    font-size: 1.35em;
    word-wrap: break-word;
    transform: translateY(-40px);
    color: black;
}

.ProductStats__cell__varmint svg {
    height: 24px;
    transform: translateY(-23px) translateX(333px);
    width: 300px;
}

.ProductStats__cell__varmint {
    text-indent: 20px;
    font-size: 1.35em;
    word-wrap: break-word;
    transform: translateY(-40px);
    color: black;
}

.ProductDescription__desc__17y1M {
    width: 350px;
    transform:translateY(-70px) translateX(20px);
    margin: 0 0 15px;
    text-align: left;
    font-size: 1.2em;
    color: black;
}

.credits {
    width: 350px;
    transform:translateY(-57px) translateX(120px);
    margin: 0 0 15px;
    text-align: center;
    font-size: 1em;
    color: black;
}

.ProductDescription__desc__varmint {
    width: 350px;
    transform:translateY(-26px) translateX(20px);
    margin: 0 0 15px;
    text-align: left;
    font-size: 1.2em;
    color: black;
}

.Button__text__2C2ug {
    text-align: center;
    font-size: 1.25em;
    color: #2e2e2e;
    text-transform: uppercase;
    margin-bottom: -.25em;
    margin-top: -.25em;
    padding-bottom: .25em;
    padding-top: .25em;
    display: inline;
    position: relative;
    top: 1px;

}

.ProductPurchaseButtons__button__index__handguns>button {
    position: fixed;
    width: 500px;
    height: 70px;
    transform:translateY(20px)translateX(40px);
    background: transparent;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 0.35em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font: inherit;
    margin: 0;
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    border-color: #2e2e2e;
    border-image-repeat: round;
    border-image-slice: 14;
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_3.png");
    border-style: solid;
    border-width: 8px;
    color: #2e2e2e;
    z-index: 9999999999;
    pointer-events: all;
}

.ProductPurchaseButtons__button__index__rifles>button {
    position: fixed;
    width: 500px;
    height: 70px;
    transform:translateY(220px)translateX(40px);
    background: transparent;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 0.35em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font: inherit;
    margin: 0;
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    border-color: #2e2e2e;
    border-image-repeat: round;
    border-image-slice: 14;
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_3.png");
    border-style: solid;
    border-width: 8px;
    color: #2e2e2e;
    z-index: 9999999999;
    pointer-events: all;
}

.ProductPurchaseButtons__button__index__shotguns>button {
    position: fixed;
    width: 500px;
    height: 70px;
    transform:translateY(320px)translateX(40px);
    background: transparent;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 0.35em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font: inherit;
    margin: 0;
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    border-color: #2e2e2e;
    border-image-repeat: round;
    border-image-slice: 14;
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_3.png");
    border-style: solid;
    border-width: 8px;
    color: #2e2e2e;
    z-index: 9999999999;
    pointer-events: all;
}

.ProductPurchaseButtons__button__index__misc>button {
    position: fixed;
    width: 500px;
    height: 70px;
    transform:translateY(420px)translateX(40px);
    background: transparent;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 0.35em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font: inherit;
    margin: 0;
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    border-color: #2e2e2e;
    border-image-repeat: round;
    border-image-slice: 14;
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_3.png");
    border-style: solid;
    border-width: 8px;
    color: #2e2e2e;
    z-index: 9999999999;
    pointer-events: all;
}

.ProductPurchaseButtons__button__index__misc>button:hover {
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_hover.png");
}

.ProductPurchaseButtons__button__index__shotguns>button:hover {
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_hover.png");
}

.ProductPurchaseButtons__button__index__rifles>button:hover {
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_hover.png");
}

.ProductPurchaseButtons__button__index__handguns>button:hover {
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_hover.png");
}

.ProductPurchaseButtons__button__index__repeaters>button:hover {
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_hover.png");
}



.ProductPurchaseButtons__button__index__repeaters>button {
    position: fixed;
    width: 500px;
    height: 70px;
    transform:translateY(120px)translateX(40px);
    background: transparent;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 0.35em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font: inherit;
    margin: 0;
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    border-color: #2e2e2e;
    border-image-repeat: round;
    border-image-slice: 14;
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_3.png");
    border-style: solid;
    border-width: 8px;
    color: #2e2e2e;
    z-index: 9999999999;
    pointer-events: all;
}

.ProductPurchaseButtons__button__melee>button {
    position: fixed;
    width: 204px;
    height: 49px;
    transform:translateY(730px)translateX(370px);
    background: transparent;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 0.35em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font: inherit;
    margin: 0;
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    border-color: #2e2e2e;
    border-image-repeat: round;
    border-image-slice: 14;
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_3.png");
    border-style: solid;
    border-width: 8px;
    color: #2e2e2e;
    z-index: 9999999999;
    pointer-events: all;
}

.ProductPurchaseButtons__button__melee>button:hover {
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_hover.png");

}

.ProductPurchaseButtons__button__1Vwwn>button {
    position: fixed;
    width: 204px;
    height: 49px;
    transform:translateY(700px)translateX(370px);
    background: transparent;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 0.35em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font: inherit;
    margin: 0;
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    border-color: #2e2e2e;
    border-image-repeat: round;
    border-image-slice: 14;
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_3.png");
    border-style: solid;
    border-width: 8px;
    color: #2e2e2e;
    z-index: 9999999999;
    pointer-events: all;
}

.ProductPurchaseButtons__button__1Vwwn>button:hover {
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_hover.png");

}

.ProductPurchaseButtons__button__ammo button {
    position: fixed;
    width: 204px;
    height: 49px;
    transform:translateY(720px)translateX(370px);
    background: transparent;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 0.35em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font: inherit;
    margin: 0;
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    border-color: #2e2e2e;
    border-image-repeat: round;
    border-image-slice: 14;
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_3.png");
    border-style: solid;
    border-width: 8px;
    color: #2e2e2e;
    z-index: 9999999999;
    pointer-events: all;
}

.ProductPurchaseButtons__button__ammo button:hover {
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_hover.png");

}

.ProductPurchaseButtons__button__back__melee button {
    position: fixed;
    width: 204px;
    height: 49px;
    transform:translateY(750px)translateX(370px);
    background: transparent;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 0.35em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font: inherit;
    margin: 0;
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    border-color: #2e2e2e;
    border-image-repeat: round;
    border-image-slice: 14;
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_3.png");
    border-style: solid;
    border-width: 8px;
    color: #2e2e2e;
    z-index: 9999999999;
    pointer-events: all;
}

.ProductPurchaseButtons__button__back__melee button:hover {
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_hover.png");

}

.ProductPurchaseButtons__button__back button {
    position: fixed;
    width: 204px;
    height: 49px;
    transform:translateY(775px)translateX(370px);
    background: transparent;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 0.35em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font: inherit;
    margin: 0;
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    border-color: #2e2e2e;
    border-image-repeat: round;
    border-image-slice: 14;
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_3.png");
    border-style: solid;
    border-width: 8px;
    color: #2e2e2e;
    z-index: 9999999999;
    pointer-events: all;
}

.ProductPurchaseButtons__button__back button:hover {
    border-image-source: url("https://s.rsg.sc/sc/images/rdr2catalogue/borders/single_hover.png");

}
