
/* Consumables */
#apple                 { background: url('../img/items/apple.png') no-repeat; background-size: 90%; }
#blueberry             { background: url('../img/items/blueberry.png') no-repeat; background-size: 90%; }
#blackberry            { background: url('../img/items/blackberry.png') no-repeat; background-size: 90%; }
#carrot                { background: url('../img/items/carrot.png') no-repeat; background-size: 120%; }
#coffee                { background: url('../img/items/coffee.png') no-repeat; background-size: 90%; }
#cigarette             { background: url('../img/items/cigarette.png') no-repeat; background-size: 100%; }
#cigarette_box         { background: url('../img/items/cigarette_box.png') no-repeat; background-size: 100%; }
#cigar                 { background: url('../img/items/cigar.png') no-repeat; background-size: 100%; }
#egg                   { background: url('../img/items/egg.png') no-repeat; background-size: 100%; }
#egg_box               { background: url('../img/items/egg_box.png') no-repeat; background-size: 100%; }
#meat_cooked           { background: url('../img/items/meat_cooked.png') no-repeat; background-size: 100%; }
#meat_uncooked         { background: url('../img/items/meat_uncooked.png') no-repeat; background-size: 100%; }
#orange                { background: url('../img/items/orange.png') no-repeat; background-size: 90%; }
#water_clean           { background: url('../img/items/water_clean.png') no-repeat; background-size: 90%;  }
#water_dirty           { background: url('../img/items/water_dirty.png') no-repeat; background-size: 90%;  }
#whiskey               { background: url('../img/items/whiskey.png') no-repeat; background-size: 85%; }
#scratchcard           { background: url('../img/items/scratchcard.png') no-repeat; background-size: 85%; }
#scratchprize          { background: url('../img/items/scratchprize.png') no-repeat; background-size: 85%; }

/* Herbs */
#currant               { background: url('../img/items/currant.png') no-repeat; background-size: 225%; }
#oregano               { background: url('../img/items/oregano.png') no-repeat; background-size: 225%; }
#chanterelles          { background: url('../img/items/chanterelles.png') no-repeat; background-size: 85%; }
#wintergreen_berry     { background: url('../img/items/wintergreen_berry.png') no-repeat; background-size: 150%; }
#vanilla_flower        { background: url('../img/items/vanilla_flower.png') no-repeat; background-size: 225%; }
#evergreen_huckleberry { background: url('../img/items/evergreen_huckleberry.png') no-repeat; background-size: 225%; }
/* Tools */
#campfire              { background: url('../img/items/campfire.png') no-repeat; background-size: 100%; }
#gold_pan              { background: url('../img/items/gold_pan.png') no-repeat; background-size: 100%; }
#horsebrush            { background: url('../img/items/horsebrush.png') no-repeat; background-size: 100%; }
#lockpick              { background: url('../img/items/lockpick.png') no-repeat; background-size: 100%; }

/* Valutas */
#gold_bar              { background: url('../img/items/gold_bar.png') no-repeat; background-size: 100%; }
/* #money         { background: url('../img/items/money.png') no-repeat; background-size: 100%; } *//* Do not enable money yet */

/* Minerals */
#gold_nugget           { background: url('../img/items/gold_nugget.png') no-repeat; background-size: 100%; }

/* Instruments */
#trumpet               { background: url('../img/items/trumpet.png') no-repeat; background-size: 85%; }

/* Weapons */
#weapon_revolver_cattleman { background: url('../img/items/weapon_revolver_cattleman.png') no-repeat; background-size: 100%; }
#weapon_revolver_doubleaction { background: url('../img/items/weapon_revolver_doubleaction.png') no-repeat; background-size: 100%; }
#weapon_repeater_carbine { background: url('../img/items/weapon_repeater_carbine.png') no-repeat; background-size: 100%; }
#weapon_repeater_winchester { background: url('../img/items/weapon_repeater_winchester.png') no-repeat; background-size: 100%; }
#weapon_repeater_evans { background: url('../img/items/weapon_repeater_evans.png') no-repeat; background-size: 100%; }
#weapon_repeater_henry { background: url('../img/items/weapon_repeater_henry.png') no-repeat; background-size: 100%; }
#weapon_rifle_varmint { background: url('../img/items/weapon_rifle_varmint.png') no-repeat; background-size: 100%; }
#weapon_rifle_springfield { background: url('../img/items/weapon_rifle_springfield.png') no-repeat; background-size: 100%; }
#weapon_rifle_boltaction { background: url('../img/items/weapon_rifle_boltaction.png') no-repeat; background-size: 100%; }
#weapon_sniperrifle_rollingblock { background: url('../img/items/weapon_sniperrifle_rollingblock.png') no-repeat; background-size: 100%; }
#weapon_sniperrifle_carcano { background: url('../img/items/weapon_sniperrifle_carcano.png') no-repeat; background-size: 100%; }
#weapon_shotgun_sawedoff { background: url('../img/items/weapon_shotgun_sawedoff.png') no-repeat; background-size: 100%; }
#weapon_shotgun_doublebarrel { background: url('../img/items/weapon_shotgun_doublebarrel.png') no-repeat; background-size: 150%; }
#weapon_shotgun_pump { background: url('../img/items/weapon_shotgun_pump.png') no-repeat; background-size: 100%; }
#weapon_shotgun_repeating { background: url('../img/items/weapon_shotgun_repeating.png') no-repeat; background-size: 100%; }
#weapon_bow { background: url('../img/items/weapon_bow.png') no-repeat; background-size: 100%; }
#weapon_revolver_schofield { background: url('../img/items/weapon_revolver_schofield.png') no-repeat; background-size: 100%; }
#weapon_revolver_lemat { background: url('../img/items/weapon_revolver_lemat.png') no-repeat; background-size: 100%; }
#weapon_pistol_volcanic { background: url('../img/items/weapon_pistol_volcanic.png') no-repeat; background-size: 100%; }
#weapon_pistol_mauser { background: url('../img/items/weapon_pistol_mauser.png') no-repeat; background-size: 180%; }
#weapon_pistol_semiauto { background: url('../img/items/weapon_pistol_semiauto.png') no-repeat; background-size: 180%; }
#weapon_shotgun_semiauto { background: url('../img/items/weapon_shotgun_semiauto.png') no-repeat; background-size: 125%; }
#weapon_melee_hatchet { background: url('../img/items/weapon_melee_hatchet.png') no-repeat; background-size: 200%; }
#weapon_melee_knife { background: url('../img/items/weapon_melee_knife.png') no-repeat; background-size: 100%; }
#weapon_melee_machete { background: url('../img/items/weapon_melee_machete.png') no-repeat; background-size: 100%; }
#weapon_lasso { background: url('../img/items/weapon_lasso.png') no-repeat; background-size: 100%; }
#weapon_thrown_throwing_knives { background: url('../img/items/weapon_thrown_throwing_knives.png') no-repeat; background-size: 100%; }
#weapon_thrown_tomahawk { background: url('../img/items/weapon_thrown_tomahawk.png') no-repeat; background-size: 125%; }
#weapon_thrown_dynamite { background: url('../img/items/weapon_thrown_dynamite.png') no-repeat; background-size: 150%; }
#weapon_thrown_molotov { background: url('../img/items/weapon_thrown_molotov.png') no-repeat; background-size: 225%; }
#weapon_melee_lantern { background: url('../img/items/weapon_melee_lantern.png') no-repeat; background-size: 125%; }
#weapon_melee_broken_sword { background: url('../img/items/weapon_melee_broken_sword.png') no-repeat; background-size: 100%; }
/*  */
