################################################################################
## Not Needed for DokusCore, all permissions are build in and go via the database
## This is ONLY needed for if you want to restart plugins via the F8 console!!!
################################################################################
add_principal group.admin
add_ace group.admin command allow
add_principal identifier.steam:1100001042b8cd7 group.admin # DevDokus
################################################################################
################################################################################
