################################################################################
################################################################################
sv_maxclients 32
sv_hostname "[ DokusCore ] [ v0.6.1 ]"
sets sv_projectName "[ DokusCore ] [ v0.6.1 ]"
sets sv_projectDesc "[ DokusCore ] [ v0.6.1 ]"
sets sv_displayqueue "[ DokusCore ] [ v0.6.1 ]"

sv_scriptHookAllowed 0
sets tags ""
sets Discord "discord.io/dokuscore"
sets banner_detail "https://mmos.com/wp-content/uploads/2019/10/red-dead-redemption-2-arthur-morgan-banner.jpg"
sets banner_connecting "https://mmos.com/wp-content/uploads/2019/10/red-dead-redemption-2-arthur-morgan-banner.jpg"
sets locale "en-US"
load_server_icon "Logo.png"
set temp_convar "skrt"
sv_endpointprivacy true
sv_displayqueue true
#set onesync legacy            ## Not adviced to run at current times
#sv_master1 ""                 ## Only uncomment this if you do NOT want your server listed.
			       ## If you want your server listed, leave sv_master1 as it is!
################################################################################
################################################################################
